@import 'resources/bower_components/bootstrap/scss/bootstrap';

// SCSS MIXINS
@import 'mixins/_position.scss';

// CONFIG MODULES
@import 'modules/_vars.scss';
@import 'modules/_app.scss';
@import 'modules/_normalize.scss';
@import 'modules/_typography.scss';
@import 'modules/_animated.scss';

// PARTIALS
@import 'partials/_header.scss';
@import 'partials/_sidebar.scss';
@import 'partials/_main.scss';
@import 'partials/_footer.scss';

// Enhancement modules
@import 'modules/_breakpoints.scss';
